.App {
  margin-top: 10vh;
  text-align: center;
  color: black;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

.App-header {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputJsonDiv {
  float: left;
  margin-left: 5vh;
  height: 100vh;
}

.imageRowsDiv{
  display: inline;
}

textarea {
  height: 55vh;
  width: 25vw;
  overflow-y: auto;
  word-wrap:break-word;
}

.Card{
  display: inline-block;
}

.CardImgOverlay{
  width: 50%;
  height: 50%;
  margin-top: 25vh;
}

.CardImgOverlayDiv{
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  display: none;
  position: fixed;
}

.CardRow{
  display: inline-block;
}

.CardList{
  display: inline;
}