.App {
  margin-top: 10vh;
  text-align: center;
  color: black;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

.App-header {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputJsonDiv {
  float: left;
  margin-left: 5vh;
  height: 100vh;
}

.imageRowsDiv{
  display: inline;
}

textarea {
  height: 55vh;
  width: 25vw;
  overflow-y: auto;
  word-wrap:break-word;
}

.Card{
  display: inline-block;
}

.CardRow{
  display: inline-block;
}

.CardList{
  display: inline;
}